<h1>Show User</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Photo:</strong>
    <br>
    <img src="<%= Routes.user_path(@conn, :photo, @user) %>" class="img-fluid" alt="" >
  </li>

</ul>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
