<p>
  <span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
  <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
</p>

<h1>Show Event #<%= @post.id %></h1>

<div>
  <p class="card-text"><b>Event: </b><%= @post.name %></p>
  <p class="card-text"><b>Time: </b><%= @post.time %></p>
  <p class="card-text"><b>Description: </b><%= @post.description %></p>
</div>